.date{
    background-color: var(--main-color-light-gray);
    padding: 1em;
    position: relative;
    overflow: hidden;
}

.homeDr{
    color: var(--main-color-blue);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-body-1);
    line-height: 10px;
}

.homeTime{
    line-height: 10px;
}

.homeCircleDate{
    background-color: white;
    border-radius: 50%;
    height: 100px;
    width: 110px;
}

.deleteBtn{
    background-color: rgb(255, 104, 104);
    border-radius: 50%;
    padding: 0.4em 1em ;
    margin-bottom: 2em;
}

.swiped {
    transition: transform 0.3s ease-in-out;
}